body {
  background: #131313;
  font-family: "Trirong", serif;
  font-weight: 400;
  margin: 0;
}

.container {
  width:80%;
  margin: 0 auto;
}

header {
  background-color: rgb(61,66,64);
  height:100px;
  weight:50px;
}

header::after {
  content: '';
  display table;
  clear:both;
}

.logo {
  float: left;
  padding:10px 0;
  height:50px;
  width:auto;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}

nav li {
  display:inline-block;
  margin-left:50px;
  padding-top:25px;
  position: relative;
}

nav a {
  color:#a6a1a1;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14px;
}

nav a:hover {
  color: #blue;
}

nava::before {
  content: '';
  display:block;
  height:5px;
  width:100%;
  background-color: #444;
}
